@page "/Index"
@rendermode InteractiveServer

@inject ToastService Toast
@inject CombosService combosService

<PageTitle>Index</PageTitle>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<div class=container>
	<div class="card shadow-lg">
		@*HEADER*@
		<div class="card-header text-center">
			<h5><strong>Registro de Combo</strong></h5>

			<div class="row">
				@*Desde*@
				<div class="col-3">
					<label class="col-form-label"><strong>Desde:</strong></label>
					<InputDate class="form-control" @bind-Value="Desde"></InputDate>
				</div>

				@*Hasta*@
				<div class="col-3">
					<label class="col-form-label"><strong>Hasta:</strong></label>
					<div class="input-group">
						<InputDate class="form-control" @bind-Value="Hasta"></InputDate>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-4 text-start">
					<label><strong>Filtrar:</strong></label>
					<div class="input-group" style="width: 250px">
						@*Campo Filtro*@
						<InputSelect class="form-select" @bind-Value="@valorFiltro">
							<option value="" selected disabled>Selecciona...</option>
							<option value="ID">ID</option>
							<option value="Descripcion">Decripci&oacute;n</option>
							<option value="Fecha">Fecha</option>
						</InputSelect>

						@*Btn Restablecer filtro*@
						<button class="btn btn-outline-secondary bi bi-arrow-counterclockwise" style="width: 40px" @onclick="Restablecer"></button>
					</div>
				</div>

				@*Btn Buscar*@
				<div class="col text-start">
					<label><strong>Buscar:</strong></label>
					<div class="input-group" style="width: 500px">
						<input @bind="@searchBarValue" @onkeypress="HandleKeyDown" placeholder="Buscar" class="form-control" />
						<button @onclick="Buscar" class="btn btn-outline-success bi bi-search" type="button">Buscar</button>
					</div>
				</div>

				@*Btn crear*@
				<div class="col-2 text-start">
					<label></label>
					<div>
						<a class="btn btn-outline-primary bi bi-person-fill-add border-bottom" href="/Create">Crear</a>
					</div>
				</div>
			</div>
		</div>

		@*BODY*@
		<div class="card-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th><strong>ID</strong></th>
						<th><strong>Descripci&oacute;n</strong></th>
						<th><strong>Precio</strong></th>
						<th><strong>Fecha</strong></th>
						<th><strong>Vendido</strong></th>
						<th><strong>Editar</strong></th>
						<th><strong>Eliminar</strong></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var modelo in ListaCombos)
					{
						<tr>
							<th>@modelo.ComboId</th>
							<th>@modelo.Descripcion</th>
							<th>@modelo.Precio</th>
							<th>@modelo.Fecha.ToShortDateString()</th>
							<th><InputCheckbox class="form-check" @bind-Value="modelo.EstaVendido" @onclick="Vendido"></InputCheckbox></th>
							<th>
								<a href="/Edit/@modelo.ComboId" class="btn btn-outline-primary bi bi-pencil-square"></a>
							</th>
							<th>
								<a href="/Delete/@modelo.ComboId" class="btn btn-outline-danger bi bi-trash"></a>
							</th>
						</tr>
					}
				</tbody>
			</table>
		</div>

		@*FOOTER*@
		<div class="card-footer">
			Cantidad total de Modelos: @ListaCombos.Count
		</div>
	</div>
</div>



@code {
	public Combos Modelo { get; set; } = new Combos();
	public List<Combos> ListaCombos { get; set; } = new List<Combos>();
	public string valorFiltro { get; set; } = "";
	public string searchBarValue { get; set; } = string.Empty;
	public DateTime? Desde { get; set; }
	public DateTime? Hasta { get; set; }

	protected override async Task OnInitializedAsync()
	{
		ListaCombos = await combosService.Listar(c => true);
	}

	private async Task HandleKeyDown(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
			await Buscar();
	}

	public void Vendido()
	{
		Modelo.EstaVendido = true;
	}

	public async Task Buscar()
	{
		if(string.IsNullOrEmpty(valorFiltro))
		{
			Toast.Notify(new(ToastType.Warning, $"Debe seleccionar una opción en el fitro"));
			ListaCombos = await combosService.Listar(lt => true);
			return;
		}

		valorFiltro.Trim().ToLower();
		searchBarValue.Trim().ToLower();

		switch (valorFiltro)
		{
			case "ID":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					Toast.Notify(new(ToastType.Warning, $"Debe proveer un ID para buscar"));
					return;
				}
				if (!searchBarValue.All(char.IsDigit))
				{
					Toast.Notify(new(ToastType.Warning, $"El criterio de búsqueda solo puede alojar numeros"));
					return;
				}
				if (int.TryParse(searchBarValue, out int id))
					ListaCombos = await combosService.Listar(lt => lt.ComboId == id);
				break;

			case "Descripcion":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					Toast.Notify(new(ToastType.Warning, $"Debe proveer una descripción para buscar"));
					return;
				}
				ListaCombos = await combosService.Listar(lt => lt.Descripcion.Trim().ToLower()
															.Contains(searchBarValue));
				break;

			case "Fecha":
				if (Desde == null || Hasta == null)
				{
					Toast.Notify(new(ToastType.Info, $"Debe seleccionar fechas en ambos campos"));
					return;
				}
				if (Desde > Hasta)
				{
					Toast.Notify(new(ToastType.Warning, $"La fecha incial no puede ser mayor a la final"));
					return;
				}
				ListaCombos = await combosService.Listar(f => f.Fecha >= Desde && f.Fecha <= Hasta);
				break;
		}
		return;
	}

	private async Task Restablecer()
	{
		ListaCombos = await combosService.Listar(t => true);
		valorFiltro = string.Empty;
		searchBarValue = string.Empty;
		Desde = null;
		Hasta = null;
	}
}
